<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweep Automation</title>

    

    </head>
<body>

    <h3>When clicked this will open the microsoft dynamics login page, please login and go through verification. </h3>
    <div></div>
    <a href="/login"><button>Login / Verification</button></a>
    <div></div>
    <h3>Click this Button to Navigate to the URL for Warehouse Shipments</h3>
    <div></div>
    <a href="/ship_lines"><button>Warehouse Shipments</button></a>
    <div></div>
    <h3>Once logged in, please click the button below to run the automation.</h3>
    <div></div>
    <a href="/sweep_run"><button>Run Sweep</button></a>

    

</body>
</html>